<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AeropuertoEntities" connectionString="metadata=res://*/Aeropuerto.csdl|res://*/Aeropuerto.ssdl|res://*/Aeropuerto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CR5CG630229X\MSSQLSERVER1;initial catalog=Aeropuerto;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
